@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$color--gray: #595c67;

h1, h2, p, ul, a {
  color: $color--gray;
}

p, ul, li{
  font:400  clamp(1.1rem, 1.5vw, 1.125rem) 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: none;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity .8s ease, transform .8s ease;
}

.row.active {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  transition: opacity .8s ease, transform .8s ease;
}

.col-md-6 img {
  max-width: 100%;
  height: auto;
}