

$color--gray: #595c67;

#container3D {
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
  @media screen and (max-width: 767px) {
    position: absolute;
  }
}


h1, h2, p, ul, a {
  color: $color--gray;
}

p, ul, li {
  font: 100 clamp(1.1rem, 1.5vw, 1.125rem) 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-wrap: pretty;
  @media(max-width: 1600px) {
    font: 100 clamp(.875rem, 1.5vw, 1rem) 'Roboto', sans-serif;
  }
  @media(max-width: 1198.98px) {
    font: 100 clamp(.75rem, 1.5vw, .875rem) 'Roboto', sans-serif;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

header{
  nav{
    li a.nav-link{
      @media(max-width: 1600px) {
        padding: .3rem .5rem;
      }
    }
  }
}
.banner_img{
  background-size: auto;
  transform: rotate(0deg);
  background-repeat: repeat;
  opacity: .025;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section {
  .container {
    .row {
      display: table-column;
      align-items: center;
      opacity: 0;
      transform: translateY(50px);
      transition: opacity .8s ease, transform .8s ease;

      &#banner{
        & > div {
          display: block;
        }
        .text_wrapper{
          position: absolute;
          text-align: center;
          top: 75%;
          left: 50%;
          transform: translate(-50%, -50%);
          h1{
            font: 100 clamp(3rem, 3vw, 3.5rem) 'Roboto', sans-serif;
            letter-spacing: 1px;
            @media(max-width: 1600px) {
              font: 100 clamp(2rem, 2vw, 2.5rem) 'Roboto', sans-serif;
            }
          }

          h2{
            font: 100 clamp(2rem, 3vw, 2.5rem) 'Roboto', sans-serif;
            @media(max-width: 1600px) {
              font: 100 clamp(1.2rem, 2vw, 1.6rem) 'Roboto', sans-serif;
              letter-spacing: 1px;
            }
          }
        }
      }

      &.active {
        display: flex;
        opacity: 1;
        position: relative;
        z-index: 200;
        transform: translateY(0);
        transition: opacity 2s ease, transform 2s ease;
      }

      & > div {
        height: calc(100vh - 23px);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .text_wrapper {
        padding: 10px;
        position: relative;
        h3{
          font: 100 clamp(1.8rem, 2vw, 2rem) 'Roboto', sans-serif;
          text-wrap: pretty;
          @media(max-width: 1600px) {
            font: 100 clamp(1.6rem, 2vw, 1.8rem) 'Roboto', sans-serif;
          }
        }
      }

      .col-md-6 img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.container_scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 1;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;

    &:first-child {
      animation: move 3s ease-out 1s infinite;
    }

    &:nth-child(2) {
      animation: move 3s ease-out 2s infinite;
    }

    &:before, &:after {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      background: $color--gray;
    }

    &:before {
      left: 0;
      transform: skew(0deg, 30deg);
    }

    &:after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
    }
  }

  @keyframes move {
    25% {
      opacity: 1;

    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font: 400 12px "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: $color--gray;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
}
footer{
  font: 100 clamp(.45rem, 2vw, .65rem)/1.5rem 'Roboto', sans-serif;
  letter-spacing: 1px;
}

